@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-family: Noto Sans;

}

.container {
    width: 100%;
    background-color: #f0f0f0;
}

/* header */
header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
    /* display: inline-block; */
    margin-left: 120px;
    margin-right: 20px;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
    margin-right: 20px;
    font-size: 1.4rem;
    text-decoration: none;
}

.header-logo {
    display: flex;
    align-items: center;
}

.nav-btn a {
    color: #000;
}

.nav-btn li a {
    text-decoration: none;

}



.contact-btn a {
    background: #000;
    color: white;
    display: inline-block;
    text-decoration: none;
    line-height: 80px;
    padding: 0 50px;
}

.contact-btn a:hover {
    opacity: 0.8;
}



/* mainvisual */
.mainvisual img {
    height: calc(100vh - 80px);
    width: 100%;
    object-fit: cover;
}

/* .main */

.wrapper {
    max-width: 1030px;
    padding: 0 3%;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

span {
    background-color: #000;
    color: white;
}

.news {
    margin-top: 50px;
}


#news {
    margin-bottom: 30px;
}

.news p {
    position: relative;
    padding-bottom: 30px;
    font-size: 1.4rem;

}

.news::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background-color: black;
    bottom: 20px;
    left: 0;
}

.section-title {
    position: relative;
    font-size: 3.6rem;
}


.items {
    margin-top: 40px;
    display: flex;
}

.item {
    width: 100%;
    border-right: 1px solid black;
    margin-left: 10px;
    padding-right: 30px;
    list-style: none;
    /* text-decoration: none; */
}

.item:first-child {
    margin-left: 0;
}

.item:last-child {
    border: none;
}

.item ul {
    line-height: 35px;
}

.item li {
    list-style: none;
    font-size: 1.4rem;

}

.item li:first-child::after {
    content: "NEW";
    color: white;
    background-color: #000;
    padding: 1px 10px;
    margin-left: 10px;
    ;
}



/* about */

.about-container {
    max-width: 100%;
    margin: 50px auto 0;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.about {
    margin-top: 60px;
    display: flex;
}

.about img {
    width: 835px;
    height: 400px;
    /* border: 1px solid #000; */
}



.inner {
    /* border: 1px solid red; */
    margin-top: 180px;
    width: 40%;
    margin-left: 50px;
    height: 320px;
}

.inner p {
    font-size: 1.4rem;
}

h2 {
    letter-spacing: 5px;
    font-weight: normal;
}

.text {
    margin-top: 60px;
    font-size: 1.4rem;
    line-height: 30px;
}


/* business */
.business {
    margin-top: 30px;
    font-size: 1.4rem;
    margin-bottom: 60px;
}

.section-title+p {
    position: relative;
    /* border: 1px solid #000; */
}

.section-title+p::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background-color: black;
    top: 50px;
    left: 0;
}

.photo1 img {
    width: 80%;
    margin-bottom: 30px;
}

.photo1 {
    text-align: right;
    /* border: 1px solid pink; */
    margin-top: 85px;
    margin-right: 65px;
}

.photo1 p {
    text-align: left;
    padding-left: 80px;
    font-weight: bold;
}

.photo1 p::before, .photo2 p::before {
    content: "-";
    margin-right: 5px;
}

.photos {
    display: flex;
    justify-content: center;
}

.photo2 img {
    width: 80%;
    margin-bottom: 30px;
}



.photo2 p {
    font-weight: bold;
}

/* company */
dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.detail dl:nth-child(3) {
    margin-top: 40px;
}

dt {
    margin-right: 30px;
    width: 25%;

}

dd {
    width: 75%;
}



.detail {
    background-color: white;
    /* border: 1px solid #000; */
    padding: 140px 120px 140px 80px;
}




.company {
    display: flex;
    /* width: 521px;
    /* padding: 100px 30px; */
    font-size: 1.4rem;
    margin-bottom: 60px;
    height: 621px;
}

.photo3 {
    width: 50%;
    height: 350px;
    /* margin-left: -30px; */
    /* margin-top: 130px; */
    position: relative;
}

.photo3 img {
    width: 100%;
    ;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 70px;
    left: -10px;
}

/* footer */
.footer-logo {
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 80px;
}

.footer {
    background-color: white;
    /* height: 30vh; */
    justify-content: center;
    font-size: 1.4rem;
}

#footer-wrapper {
    height: 30vh;
    padding-top: 30px;
}

.footer-logo p {
    margin-top: 20px;
}

.copy {
    font-size: 1rem;
    margin-top: 20px;
}

@media (max-width:900px) {

    .header-logo img {
        margin-left: 0px;
        display: inline-block;

    }

    .header-logo {
        padding: 0 3%;
        flex-direction: column;
        align-items: first baseline;
    }

    .contact-btn {
        display: none;

    }

    .items {
        flex-direction: column;
    }

    .item {
        margin-left: 0;
        margin-top: 20px;
        border: none;
    }

    .about {
        flex-direction: column;
    }

    .inner {
        padding: 0 3%;
    }

    .about img {
        width: 100%;
    }

    .inner {
        width: 100%;
        margin-left: 5px;
        margin-top: 80px;
    }

    .photos {
        flex-direction: column;
    }

    .photos img {
        width: 100%;

    }

    .photo1 {
        margin-right: 0;
    }

    .photo1 p {
        padding: 0;
    }

    .company-wrapper {
        flex-direction: column;
    }

    .company {
        width: 100%;
    }

    .photo3 {
        margin-top: 40px;
    }

    .photo3 img {
        width: 100%;
        vertical-align: middle;
    }

    .footer-logo {
        flex-direction: column;
        margin-top: 40px;
        padding: 20px 0;
    }
}